@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

   <ejs-grid id="Grid" dataSource="Model" allowGrouping="true" allowSorting="true" allowFiltering="true" allowPaging="true" showColumnMenu="true">
               <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-groupsettings showGroupedColumn="true"></e-grid-groupsettings>
                <e-grid-columns>
                    <e-grid-column field="Name" headerText="Name"  width="200"></e-grid-column>
        <e-grid-column field="NormalizedName" headerText="Normalized Name"></e-grid-column>
        <e-grid-column field="ConcurrencyStamp" headerText="Concurrency Stamp" format='dd.MM.yyyy'></e-grid-column>
                 
        <e-grid-column headerText="Actions" template="#actions" width="300" format='dd.MM.yyyy'></e-grid-column>
                </e-grid-columns>
   </ejs-grid>

<script id="actions" type="text/x-template">

            <a href="/Roles/Edit/${Id}">Edit</a>&nbsp;
    <a href="/Roles/Details/${Id}">Details</a>&nbsp;
            <a href="/Roles/Delete/${Id}">Delete</a>&nbsp;
</script>