@model ProjektIO.Entities.Transactions

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hedgefund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hedgefund.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnTimeOfInvestment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnTimeOfInvestment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
