@model ProjektIO.Entities.Transactions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hedgefund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hedgefund.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnTimeOfInvestment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnTimeOfInvestment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
