@model IEnumerable<ProjektIO.Entities.Hedgefund>

@{
    ViewData["Title"] = "Available to you";
    var dataSource = Model.Select(x => new
    {
        Id = x.Id,
        Name = x.Name,
        RequiredSalary = x.RequiredSalary,
        CreationDate = x.CreationDate.ToShortDateString(),
        ReturnRate =  x.History.FirstOrDefault() != null ? x.History.OrderByDescending(x => x.ChangeDate).FirstOrDefault().ReturnRate.ToString() : "N/A",
        ChangeDate = x.History.FirstOrDefault() != null ? x.History.OrderByDescending(x => x.ChangeDate).FirstOrDefault().ChangeDate.ToShortDateString() : "N/A"
    }).ToList(); 
}

<h1>Hedgefunds available to you:</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Import" >Import</a> 
</p>

@*<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                Return Rate
            </th>
            <th>
                Change Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSalary)
            </td>
            <td>
                @item.CreationDate.ToShortDateString()
            </td>
                @if (item.History.OrderByDescending(x => x.ChangeDate).FirstOrDefault() != null)
                {
                    <td>
                        @item.History.OrderByDescending(x => x.ChangeDate).FirstOrDefault().ReturnRate
                    </td>
                    <td>
                        @item.History.OrderByDescending(x => x.ChangeDate).FirstOrDefault().ChangeDate.ToShortDateString()
                    </td>
                }
                else
                {
                    <td>
                        N/A
                    </td>
                    <td>
                        N/A
                    </td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="HedgefundHistories" asp-action="ShowHistory" asp-route-id="@item.Id">Show History</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<ejs-grid id="Grid" dataSource="dataSource" allowGrouping="true" allowSorting="true" allowFiltering="true" allowPaging="true" showColumnMenu="true"
          allowExcelExport="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() { "ExcelExport" })">
               <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-groupsettings showGroupedColumn="true"></e-grid-groupsettings>
                <e-grid-columns>
                    <e-grid-column field="Name" headerText="Name"  width="200"></e-grid-column>
                    <e-grid-column field="RequiredSalary" headerText="RequiredSalary"></e-grid-column>
                    <e-grid-column field="CreationDate" headerText="Creation Date" format='dd.MM.yyyy'></e-grid-column>
                    <e-grid-column field="ReturnRate" headerText="Return Rate" width="200"></e-grid-column>
                    <e-grid-column field="ChangeDate" headerText="Change Date" width="200" format='dd.MM.yyyy'></e-grid-column>
        <e-grid-column headerText="Actions" template="#actions" width="300" format='dd.MM.yyyy'></e-grid-column>
                </e-grid-columns>
   </ejs-grid>

<script id="actions" type="text/x-template">

            <a href="/Hedgefunds/Edit/${Id}">Edit</a>&nbsp;
    <a href="/Hedgefunds/Details/${Id}">Details</a>&nbsp;
            <a href="/Hedgefunds/Delete/${Id}">Delete</a>&nbsp;
            <a href="/HedgefundHistories/ShowHistory/${Id}">ShowHistory</a>
</script>

                            <script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>