@using Microsoft.AspNetCore.Identity;
@model IEnumerable<UserRolesIndex>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                RoleName
            </th>
            <th>
                Username
            </th>
            <th>
                RoleId
            </th>
            <th>
                UserId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.RoleId
            </td>
            <td>
                @item.UserId
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new {  id=item.UserId, roleid=item.RoleId })
            </td>

        </tr>
}
    </tbody>
</table>
