@using Microsoft.AspNetCore.Identity;
@model IEnumerable<UserRolesIndex>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table table-striped">
    <thead>
        <tr>
            <th>
                RoleName
            </th>
            <th>
                Username
            </th>
            <th>
                RoleId
            </th>
            <th>
                UserId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.RoleId
            </td>
            <td>
                @item.UserId
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new {  id=item.UserId, roleid=item.RoleId })
            </td>

        </tr>
}
    </tbody>
</table>*@

   <ejs-grid id="Grid" dataSource="Model" allowGrouping="true" allowSorting="true" allowFiltering="true" allowPaging="true" showColumnMenu="true">
               <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-groupsettings showGroupedColumn="true"></e-grid-groupsettings>
                <e-grid-columns>
                    <e-grid-column field="Name" headerText="Name"  width="200"></e-grid-column>
        <e-grid-column field="UserName" headerText="UserName"></e-grid-column>
        <e-grid-column field="RoleId" headerText="RoleId" width="400"></e-grid-column>
        <e-grid-column field="UserId" headerText="UserId"></e-grid-column>

        <e-grid-column headerText="Actions" template="#actions"  ></e-grid-column>
                </e-grid-columns>
   </ejs-grid>

<script id="actions" type="text/x-template">
            <a href="/UserRoles/Delete/${UserId}?roleId=${RoleId}">Delete</a>&nbsp;
</script>