@model IEnumerable<ProjektIO.Entities.HedgefundHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

            <ejs-grid id="Grid" dataSource="Model" allowGrouping="true" allowSorting="true" allowFiltering="true" allowPaging="true" showColumnMenu="true"
          allowExcelExport="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() { "ExcelExport" })">
               <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-groupsettings showGroupedColumn="true"></e-grid-groupsettings>
                <e-grid-columns>
                    <e-grid-column field="ReturnRate" headerText="Return Rate" width="200"></e-grid-column>
                    <e-grid-column field="ChangeDate" headerText="Change Date" width="200" format='dd.MM.yyyy'></e-grid-column>
        <e-grid-column headerText="Actions" template="#actions" width="300" format='dd.MM.yyyy'></e-grid-column>
                </e-grid-columns>
   </ejs-grid>

<script id="actions" type="text/x-template">

            <a href="/HedgefundHistories/Edit/${Id}">Edit</a>&nbsp;
    <a href="/HedgefundHistories/Details/${Id}">Details</a>&nbsp;
            <a href="/HedgefundHistories/Delete/${Id}">Delete</a>&nbsp;
</script>

                            <script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>