@using ProjektIO.Extensions
@using Syncfusion.EJ2;
@model HedgeFundHistoriesGetViewModel

@{

}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ReturnRate
            </th>
            <th>
                ChangeDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HedgefundHistories.Count() > 0)
        {
            @foreach (var item in Model.HedgefundHistories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnRate)
                    </td>
                    <td>
                        @item.ChangeDate.ToShortDateString()
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    N/A
                </td>
                <td>
                    N/A
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.ChartDatas.Count() > 0)
{
    <div class="control-section" align="center">
        <ejs-chart id="container" load="window.onChartLoad" title="History of Return Rates">
            <e-chart-tooltipsettings enable="true">
            </e-chart-tooltipsettings>
            <e-chart-primaryxaxis valueType="DateTime"
                                  labelFormat="dd.MM.yyyy"
                                  intervalType="Days"
                                  edgeLabelPlacement="Shift">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis labelFormat="{value}%"
                                  rangePadding="None"
                                  minimum=0
                                  maximum=20
                                  interval=2>
                <e-linestyle width="0"></e-linestyle>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-series-collection>
                <e-series dataSource="Model.ChartDatas" name="Hedgefund" xName="xValue" width="2" opacity="1" yName="yValue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="10" width="10"></e-series-marker>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
}